
     h2{
            color: cornflowerblue;
            text-align: center;
        }
         h3{
            color: lightcoral;
            text-align: center;
        }
        body{
            color: brown;
            
        }
.centrar{
    text-align: center;
}
#tabla1{
color: dodgerblue;
}